<section class="landing">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <a class="cursor-pointer logo">
          <img src="assets/images/logo_jilai.png" alt="logo" class="img-fluid " width="120">
        </a>
        <div class="landing-content">
          <div class="signup-wrap">
            <h3>Welcome to Jil AI</h3>
            <p>Fill in your details to activate your JilAI account.</p>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="first_name">First Name <span class="mandatory">*</span></label>
                    <input type="text" class="form-control" id="first_name" placeholder="Enter First name" formControlName="first_name" autocomplete="off">
                    <ng-container *ngIf="signUpForm.get('first_name')?.invalid && (signUpForm.get('first_name')?.dirty || signUpForm.get('first_name')?.touched)">
                      <div *ngIf="signUpForm.get('first_name')?.hasError('required')"
                        class="text-danger small">
                        First Name is required.
                      </div>
                      <div *ngIf="signUpForm.get('first_name')?.hasError('pattern')"
                      class="text-danger small">
                      First Name must start with a letter and can only contain alphabetic characters and spaces.
                      </div>
                      <div *ngIf="signUpForm.get('first_name')?.hasError('maxlength')"
                      class="text-danger small">
                      First Name cannot exceed 50 characters.
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="last_name">Last Name <span class="mandatory">*</span></label>
                    <input type="text" class="form-control" id="last_name" placeholder="Enter Last name" formControlName="last_name" autocomplete="off">
                    <ng-container *ngIf="signUpForm.get('last_name')?.invalid && (signUpForm.get('last_name')?.dirty || signUpForm.get('last_name')?.touched)">
                      <div *ngIf="signUpForm.get('last_name')?.hasError('required')"
                        class="text-danger small">
                        Last Name is required.
                      </div>
                      <div *ngIf="signUpForm.get('last_name')?.hasError('pattern')"
                      class="text-danger small">
                      Last Name must start with a letter and can only contain alphabetic characters and spaces.
                      </div>
                      <div *ngIf="signUpForm.get('last_name')?.hasError('maxlength')"
                      class="text-danger small">
                      Last Name cannot exceed 50 characters.
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="email">Email ID <span class="mandatory">*</span></label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Email Id" formControlName="email" autocomplete="off">
                    <ng-container *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
                      <div *ngIf="signUpForm.get('email')?.hasError('required')"
                        class="text-danger small">
                        Email is required.
                      </div>
                      <div *ngIf="signUpForm.get('email')?.hasError('email')"
                        class="text-danger small">
                        Please enter valid email address.
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="phone-conuntry form-group relative">
                    <label for="phone_number">Phone Number <span class="mandatory">*</span></label>
                    <div
                      class="relative form-control">
                      <button class="dropdown-country" type="button"
                        (click)="toggleList = !toggleList;$event.preventDefault();">
                        <!-- <img [src]="'assets/images/flags/'+ selectedCountry?.code?.toLowerCase()+'.png'" alt=""
                          class="img-responsive"> -->
                        <span class="whitespace-nowrap"> + {{selectedCountry?.dialCode}}</span>
                        <div><img src="assets/images/dropdown-phone-arrow.svg" alt="" class="w-3 h-3"></div>
                      </button>
                      <div class="br-line"></div>
                      <input type="text" formControlName="phone_number"
                        class="form-control input-calc"
                        [placeholder]=" 'Enter Phone number'" (input)="keyUpPhoneNumber($event)" [mask]="'0*'"
                        minlength="6" maxlength="13">
                    </div>

                    <div class="dropdown-country-list" *ngIf="toggleList">
                      <div class=" mt-0 p-2 ">
                        <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
                          (input)="searchCountryCode()"
                          placeholder="Enter Country name or code"
                          class="form-control">
                      </div>
                      <ul
                        class="">
                        <li class="px-3 py-2  mx-2 flex-row" *ngFor="let data of   filteredCountryDetailsList
                          ; let i = index" (click)="selectCountry(data)"
                          [ngClass]="{ 'list-active-bg': selectedCountry?.dialCode === data?.dialCode }">
                          <p><span class="pr-4"><img class="inline"
                                [src]="'assets/images/flags/'+ data.code.toLowerCase()+'.png'"
                                alt="{{data?.name}} flag"></span><span>{{data?.name}}</span> <span
                              class="pl-4 text-grey">{{data?.dialCode}}</span>
                          </p>
                          <img src="assets/images/flags/list-selected.svg" class="list-selected" alt="digital vault"
                            *ngIf="selectedCountry?.code === data?.code">
                        </li>
                      </ul>
                    </div>

                    <ng-container *ngIf="signUpForm.get('phone_number')?.invalid && (signUpForm.get('phone_number')?.dirty || signUpForm.get('phone_number')?.touched)">
                      <div *ngIf="signUpForm.get('phone_number')?.hasError('required')"
                        class="text-danger small">
                        Phone Number is required.
                      </div>
                      <div *ngIf="signUpForm.get('phone_number')?.hasError('minlength') || signUpForm.get('phone_number')?.hasError('maxlength')"
                        class="text-danger small">
                        Phone Number should be of 6 to 13 digits only.
                      </div>
                    </ng-container>
                  </div>
                </div>
                <!-- <div class="col-lg-6">
                  <div class="form-group">
                    <label for="phone_number">Phone Number <span class="mandatory">*</span></label>
                    <div class="phone-conuntry">
                      <input type="text" class="form-control country-code" id="country_code" placeholder="CC" formControlName="country_code" autocomplete="off">
                      <input type="text" class="form-control" (keydown)="restrictToNumbers($event)" id="phone_number" placeholder="Enter Phone Number" formControlName="phone_number" autocomplete="off">
                    </div>
                    <ng-container *ngIf="signUpForm.get('phone_number')?.invalid && (signUpForm.get('phone_number')?.dirty || signUpForm.get('phone_number')?.touched)">
                      <div *ngIf="signUpForm.get('phone_number')?.hasError('required')"
                        class="text-danger small">
                        Phone Number is required.
                      </div>
                      <div *ngIf="signUpForm.get('phone_number')?.hasError('minlength') || signUpForm.get('phone_number')?.hasError('maxlength')"
                        class="text-danger small">
                        Phone Number should be of 6 to 13 digits only.
                      </div>
                    </ng-container>
                  </div>
                </div> -->
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="password">Password <span class="mandatory">*</span></label>
                    <div class="position-relative">
                      <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control" id="password" placeholder="Enter your password" formControlName="password" autocomplete="off">
                    <button type="button" class="eye-icon" (click)="togglePasswordVisibility('password')">
                      <svg *ngIf="isPasswordVisible" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.97238 7.58179C7.55902 6.34312 9.60878 5.29065 12 5.29065C14.3913 5.29065 16.4409 6.34312 18.0276 7.58179C19.6157 8.82159 20.7895 10.2858 21.4461 11.2065L21.4956 11.2755C21.7312 11.603 22 11.977 22 12.5C22 13.0229 21.7312 13.3969 21.4956 13.7244L21.4461 13.7934C20.7895 14.7142 19.6157 16.1783 18.0276 17.4181C16.4409 18.6568 14.3913 19.7093 12 19.7093C9.60878 19.7093 7.55902 18.6568 5.97238 17.4181C4.38431 16.1783 3.21047 14.7142 2.55387 13.7934L2.50436 13.7244C2.26887 13.3969 2 13.0229 2 12.5C2 11.977 2.26887 11.603 2.50436 11.2755L2.55387 11.2065C3.21047 10.2858 4.38431 8.82159 5.97238 7.58179ZM8.74419 12.5C8.74419 14.2981 10.2019 15.7558 12 15.7558C13.7981 15.7558 15.2558 14.2981 15.2558 12.5C15.2558 10.7018 13.7981 9.24414 12 9.24414C10.2019 9.24414 8.74419 10.7018 8.74419 12.5Z" fill="#24F3EA" fill-opacity="0.4"/>
                      </svg>

                      <svg *ngIf="!isPasswordVisible" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.97238 7.58179C7.55902 6.34312 9.60878 5.29065 12 5.29065C14.3913 5.29065 16.4409 6.34312 18.0276 7.58179C19.6157 8.82159 20.7895 10.2858 21.4461 11.2065L21.4956 11.2755C21.7312 11.603 22 11.977 22 12.5C22 13.0229 21.7312 13.3969 21.4956 13.7244L21.4461 13.7934C20.7895 14.7142 19.6157 16.1783 18.0276 17.4181C16.4409 18.6568 14.3913 19.7093 12 19.7093C9.60878 19.7093 7.55902 18.6568 5.97238 17.4181C4.38431 16.1783 3.21047 14.7142 2.55387 13.7934L2.50436 13.7244C2.26887 13.3969 2 13.0229 2 12.5C2 11.977 2.26887 11.603 2.50436 11.2755L2.55387 11.2065C3.21047 10.2858 4.38431 8.82159 5.97238 7.58179ZM8.74419 12.5C8.74419 14.2981 10.2019 15.7558 12 15.7558C13.7981 15.7558 15.2558 14.2981 15.2558 12.5C15.2558 10.7018 13.7981 9.24414 12 9.24414C10.2019 9.24414 8.74419 10.7018 8.74419 12.5Z" fill="#24F3EA" fill-opacity="0.4"/>
                        <line x1="3" y1="22" x2="21" y2="4" stroke="#24F3EA" stroke-opacity="0.6" stroke-width="2" />
                      </svg>

                    </button>
                    </div>
                      <ng-container *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)">

                        <div *ngIf="signUpForm.get('password')?.hasError('required')" class="text-danger small">
                          Password is required.
                        </div>

                        <div *ngIf="signUpForm.get('password')?.hasError('minlength')" class="text-danger small">
                          Password must be at least 6 characters.
                        </div>

                        <div *ngIf="signUpForm.get('password')?.hasError('maxlength')" class="text-danger small">
                          Password must not exceed 15 characters.
                        </div>

                        <div *ngIf="signUpForm.get('password')?.hasError('pattern')" class="text-danger small">
                          Password must include uppercase, lowercase, number and special character.
                        </div>

                      </ng-container>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="confirm_password">Confirm Password <span class="mandatory">*</span></label>
                    <div class="position-relative">
                      <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" class="form-control" id="confirm_password" placeholder="Enter confirm password" formControlName="confirm_password" autocomplete="off">
                    <button type="button" class="eye-icon" (click)="togglePasswordVisibility('confirm_password')">

                      <svg *ngIf="isConfirmPasswordVisible" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.97238 7.58179C7.55902 6.34312 9.60878 5.29065 12 5.29065C14.3913 5.29065 16.4409 6.34312 18.0276 7.58179C19.6157 8.82159 20.7895 10.2858 21.4461 11.2065L21.4956 11.2755C21.7312 11.603 22 11.977 22 12.5C22 13.0229 21.7312 13.3969 21.4956 13.7244L21.4461 13.7934C20.7895 14.7142 19.6157 16.1783 18.0276 17.4181C16.4409 18.6568 14.3913 19.7093 12 19.7093C9.60878 19.7093 7.55902 18.6568 5.97238 17.4181C4.38431 16.1783 3.21047 14.7142 2.55387 13.7934L2.50436 13.7244C2.26887 13.3969 2 13.0229 2 12.5C2 11.977 2.26887 11.603 2.50436 11.2755L2.55387 11.2065C3.21047 10.2858 4.38431 8.82159 5.97238 7.58179ZM8.74419 12.5C8.74419 14.2981 10.2019 15.7558 12 15.7558C13.7981 15.7558 15.2558 14.2981 15.2558 12.5C15.2558 10.7018 13.7981 9.24414 12 9.24414C10.2019 9.24414 8.74419 10.7018 8.74419 12.5Z" fill="#24F3EA" fill-opacity="0.4"/>
                      </svg>

                      <svg *ngIf="!isConfirmPasswordVisible" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.97238 7.58179C7.55902 6.34312 9.60878 5.29065 12 5.29065C14.3913 5.29065 16.4409 6.34312 18.0276 7.58179C19.6157 8.82159 20.7895 10.2858 21.4461 11.2065L21.4956 11.2755C21.7312 11.603 22 11.977 22 12.5C22 13.0229 21.7312 13.3969 21.4956 13.7244L21.4461 13.7934C20.7895 14.7142 19.6157 16.1783 18.0276 17.4181C16.4409 18.6568 14.3913 19.7093 12 19.7093C9.60878 19.7093 7.55902 18.6568 5.97238 17.4181C4.38431 16.1783 3.21047 14.7142 2.55387 13.7934L2.50436 13.7244C2.26887 13.3969 2 13.0229 2 12.5C2 11.977 2.26887 11.603 2.50436 11.2755L2.55387 11.2065C3.21047 10.2858 4.38431 8.82159 5.97238 7.58179ZM8.74419 12.5C8.74419 14.2981 10.2019 15.7558 12 15.7558C13.7981 15.7558 15.2558 14.2981 15.2558 12.5C15.2558 10.7018 13.7981 9.24414 12 9.24414C10.2019 9.24414 8.74419 10.7018 8.74419 12.5Z" fill="#24F3EA" fill-opacity="0.4"/>
                        <line x1="3" y1="22" x2="21" y2="4" stroke="#24F3EA" stroke-opacity="0.6" stroke-width="2" />
                      </svg>

                    </button>
                    </div>
                    <ng-container *ngIf="signUpForm.get('confirm_password')?.invalid && (signUpForm.get('confirm_password')?.dirty || signUpForm.get('confirm_password')?.touched)">

                      <div *ngIf="signUpForm.get('confirm_password')?.hasError('required')" class="text-danger small">
                        Confirm Password is required.
                      </div>

                      <div *ngIf="signUpForm.get('confirm_password')?.hasError('minlength')" class="text-danger small">
                        Password must be at least 6 characters.
                      </div>

                      <div *ngIf="signUpForm.get('confirm_password')?.hasError('maxlength')" class="text-danger small">
                        Password must not exceed 15 characters.
                      </div>

                      <div *ngIf="signUpForm.get('confirm_password')?.hasError('pattern')" class="text-danger small">
                        Password must include uppercase, lowercase, number, and special character.
                      </div>

                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="name">Full Address <span class="mandatory">*</span></label>
                    <input type="text" class="form-control" id="full_address" placeholder="Enter Full Address" formControlName="full_address" autocomplete="off">
                    <ng-container *ngIf="signUpForm.get('full_address')?.invalid && (signUpForm.get('full_address')?.dirty || signUpForm.get('full_address')?.touched)">
                      <div *ngIf="signUpForm.get('full_address')?.hasError('required')"
                        class="text-danger small">
                        Full Address is required.
                      </div>
                      <div *ngIf="signUpForm.get('full_address')?.hasError('pattern')"
                      class="text-danger small">
                      Full Address must start with a letter and can only contain alphabetic characters and spaces.
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="name">City <span class="mandatory">*</span></label>
                    <input type="text" class="form-control" id="city" placeholder="Enter City" formControlName="city" autocomplete="off">
                    <ng-container *ngIf="signUpForm.get('city')?.invalid && (signUpForm.get('city')?.dirty || signUpForm.get('city')?.touched)">
                      <div *ngIf="signUpForm.get('city')?.hasError('required')"
                        class="text-danger small">
                        City is required.
                      </div>
                      <div *ngIf="signUpForm.get('city')?.hasError('pattern')"
                      class="text-danger small">
                      City must start with a letter and can only contain alphabetic characters and spaces.
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="name">State <span class="mandatory">*</span></label>
                    <input type="text" class="form-control" id="state" placeholder="Enter State" formControlName="state" autocomplete="off">
                    <ng-container *ngIf="signUpForm.get('state')?.invalid && (signUpForm.get('state')?.dirty || signUpForm.get('state')?.touched)">
                      <div *ngIf="signUpForm.get('state')?.hasError('required')"
                        class="text-danger small">
                        State is required.
                      </div>
                      <div *ngIf="signUpForm.get('state')?.hasError('pattern')"
                      class="text-danger small">
                      State must start with a letter and can only contain alphabetic characters and spaces.
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="name">Country <span class="mandatory">*</span></label>
                    <input type="text" class="form-control" id="state" placeholder="Enter Country" formControlName="country" autocomplete="off">
                    <ng-container *ngIf="signUpForm.get('country')?.invalid && (signUpForm.get('country')?.dirty || signUpForm.get('country')?.touched)">
                      <div *ngIf="signUpForm.get('country')?.hasError('required')"
                        class="text-danger small">
                        Country is required.
                      </div>
                      <div *ngIf="signUpForm.get('country')?.hasError('pattern')"
                      class="text-danger small">
                      Country must start with a letter and can only contain alphabetic characters and spaces.
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="name">Zip Code <span class="mandatory">*</span></label>
                    <input type="text" class="form-control" (keydown)="restrictToNumbers($event)" id="zip_code" placeholder="Enter Zip Code" formControlName="zip_code" autocomplete="off">
                    <ng-container *ngIf="signUpForm.get('zip_code')?.invalid && (signUpForm.get('zip_code')?.dirty || signUpForm.get('zip_code')?.touched)">
                      <div *ngIf="signUpForm.get('zip_code')?.hasError('required')"
                        class="text-danger small">
                        Zip Code is required.
                      </div>
                      <div *ngIf="signUpForm.get('zip_code')?.hasError('minlength') || signUpForm.get('zip_code')?.hasError('maxlength')"
                        class="text-danger small">
                        Zip Code should be of 4 to 13 digits only.
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-check" data-bs-toggle="modal" data-bs-target="#affiliate-agreementModal">
                      <input type="checkbox" name="affiliate" formControlName="is_being_affilate" class="form-check-input"
                        id="affilateCheck1" >
                      <label class="form-check-label mb-0" for="affilateCheck1">I am interested in <a>being an affiliate</a></label>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-check" data-bs-toggle="modal" data-bs-target="#campaigner-agreementModal">
                      <input type="checkbox" name="campaigner" formControlName="is_being_campaigner" class="form-check-input"
                        id="campaignerCheck2" >
                      <label class="form-check-label mb-0" for="campaignerCheck2">I am interested in <a>being a campaigner</a></label>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <!-- <a data-bs-toggle="modal" data-bs-target="#kyc-biometric-disclaimerModal"
                  class="btn btn-primary wallet connect">Verify Your KYC Details</a> -->
                <button *ngIf="!signUpForm.valid" type="submit"
                  [ngClass]="{'btn btn-primary': signUpForm.valid, 'btn btn-secondary cursor-not-allowed': !signUpForm.valid}"
                  class="wallet connect">Verify Your KYC Details</button>
                <button *ngIf="signUpForm.valid" type="submit" data-bs-toggle="modal" data-bs-target="#kyc-biometric-disclaimerModal"
                  [ngClass]="{'btn btn-primary': signUpForm.valid, 'btn btn-secondary cursor-not-allowed': !signUpForm.valid}"
                  class="wallet connect">Verify Your KYC Details</button>
                <!-- <button #kycButton *ngIf="isRegister" class="signups btn btn-primary connect"
                  [disabled]="true">Processing...</button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<!-- <div *ngIf="showKYCModal" class="modal fade show" style="display: block;" id="kycVerificationModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">KYC Verification</h1>
      </div>
      <div class="modal-body signup-wraps  mt-0">
        <div class="row">
          <div class="col-lg-12 mt-3">
            <h3 class="text-center px-4 pb-3" *ngIf="user.kyc_verified === kycStatus.NOT_INITIATED">Your KYC process has not been initiated
              yet. Please start the process to verify your identity.</h3>
            <h3 class="text-center px-4 pb-3" *ngIf="user.kyc_verified === kycStatus.VERIFIED">Your KYC process has been successfully
              verified. Thank you!.</h3>
            <h3 class="text-center px-4 pb-3" *ngIf="user.kyc_verified === kycStatus.PROCESSING">Your KYC process is currently pending. We
              are reviewing your information and will update you soon.</h3>
            <h3 *ngIf="user.kyc_verified === kycStatus.REJECTED" class="text-center px-4 pb-3">Oops! It seems there was an issue with
              your KYC document. sumsub team has
              reviewed it and unfortunately, it has been rejected. Following the
              guidelines provided to ensure successful verification. If you have any questions or need assistance, feel
              free to contact our support team. We apologize for any inconvenience caused.</h3>
            <h3 class="text-center px-4 pb-3">Refresh the page to see the current status.</h3>
            <div class="d-flex justify-content-center" *ngIf="user.kyc_verified === kycStatus.NOT_INITIATED || user.kyc_verified === kycStatus.REJECTED">
              <button class="btn btn-primary kyc-btn" (click)="reUploadKyc()">Initiate KYC</button>
            </div>
            <p class="pt-4" *ngIf="user.kyc_verified === kycStatus.NOT_INITIATED || user.kyc_verified === kycStatus.REJECTED"><span class="fw-bold">Note: </span>If you are not redirected automatically, please enable browser pop-ups to initiate KYC.
              If this issue persists, ensure pop-ups are allowed in your browser settings.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Modal -->
<div class="modal fade" id="affiliate-agreementModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="affiliate-agreementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <img src="assets/images/close.png" alt="close" width="44"/>
        </button> -->
      <div class="modal-body">
        <h1 id="affiliate-agreementModalLabel">AFFILIATE AGREEMENT</h1>
        <p><b>Effective Date:</b> {{date}}</p>
        <p><b>Parties:</b> </p>
        <p>This <b>Affiliate Agreement</b> (“Agreement”) is entered into by and between:</p>
        <p>
          <b>1. The Global Charitable DAO LLC</b>, a decentralized autonomous organization legally domiciled in Wyoming, USA, operating under the Wyoming DAO Supplement and the Nevada Charitable Remainder Trust (hereinafter referred to as the “Company” or “GLOBAL CHARITABLE DAO ”); and
        </p>
        <p>
          <b>2. {{ signUpForm.value.first_name }} {{ signUpForm.value.last_name }}</b>, a natural or legal entity agreeing to promote and support GLOBAL CHARITABLE DAO ’s mission in accordance with the terms herein (hereinafter referred to as the “Affiliate”).
        </p>

        <h2>1. PURPOSE</h2>
        <p>
          The Affiliate agrees to promote, market, and facilitate awareness of GLOBAL CHARITABLE DAO , its tokenized ecosystem, and its impact-driven blockchain initiatives in exchange for performance-based compensation, as outlined in this Agreement.
        </p>

        <h2>2. AFFILIATE RESPONSIBILITIES</h2>
        <h3>2.1 Marketing & Promotion</h3>
        <p>The Affiliate shall:</p>
          <p>a) Promote GLOBAL CHARITABLE DAO ’s initiatives, products, or services through legally and ethically appropriate channels, including but not limited to digital marketing, social media, content creation, and networking.</p>
          <p>b) Only use approved marketing materials provided or authorized by GLOBAL CHARITABLE DAO .</p>
          <p>c) Ensure that all representations about GLOBAL CHARITABLE DAO  and its token (JIL.AI) are accurate and comply with <b>SEC and global crypto regulations</b>.</p>

          <h3>2.2 Compliance with Laws & Regulations</h3>
          <p>The Affiliate agrees to:</p>
          <p>a) Adhere to <b>anti-money laundering (AML) and know-your-customer (KYC) compliance standards</b> as required by U.S. and international regulatory bodies.</p>
          <p>b) Ensure that promotional content does not misrepresent GLOBAL CHARITABLE DAO ’s structure, financial implications, or investment returns.</p>
          <p>c) Not target or solicit individuals from <b>sanctioned or restricted jurisdictions</b></p>

          <h2>3. COMPENSATION & PAYOUTS</h2>
          <h3>3.1 Affiliate Compensation Structure</h3>
          <p>The Affiliate shall be compensated based on the following:</p>
          <p>a) Referral-Based Rewards – A commission of [X]% of the total contribution from each referred contributor during the <b>private sale, airdrop, or community donation event (CDE)</b>.</p>
          <p>b) Performance-Based Bonuses – Additional bonuses may be granted for high-performance affiliates who meet predefined engagement thresholds.</p>

          <h3>3.2 Payment Terms</h3>
          <p>a) Payments will be made in <b>JIL.AI tokens</b> unless otherwise agreed.</p>
          <p>b) Payouts will be processed on a <b>[bi-weekly/monthly]</b> basis to the affiliate’s <b>registered wallet address</b>.</p>
          <p>c) The minimum payout threshold is <b>[X] USD equivalent</b>. If the affiliate’s earnings are below this threshold, the balance will be carried forward to the next cycle.</p>

          <h3>3.3 Chargebacks & Fraud Prevention</h3>
          <p>a) GLOBAL CHARITABLE DAO  reserves the right to <b>reject commissions</b> for fraudulent activities, including but not limited to fake referrals, misleading advertisements, or unethical marketing tactics.</p>
          <p>b) If a contributor requests a refund or chargeback, the associated commission will be deducted from the affiliate’s earnings.</p>

          <h2>4. RESTRICTIONS & PROHIBITED ACTIVITIES</h2>
          <p>The Affiliate must not:</p>
          <p>a) Engage in <b>spam marketing</b>, misleading advertising, or unauthorized promotions.</p>
          <p>b) Make any <b>investment promises, profit guarantees, or financial return projections</b> about JIL.AI tokens.</p>
          <p>c) Promote GLOBAL CHARITABLE DAO  in <b>jurisdictions where crypto-related activities are restricted or banned</b>.</p>
          <p>d) Modify, replicate, or create unauthorized content using GLOBAL CHARITABLE DAO ’s branding without prior written approval.</p>
          <p>Failure to comply may result in <b>immediate termination</b> of this Agreement and forfeiture of any pending commissions.</p>

          <h2>5. INTELLECTUAL PROPERTY</h2>
          <p>a) The Affiliate acknowledges that <b>all trademarks, logos, content, and marketing materials</b> provided by Global Charitable DAO remain the exclusive property of Global Charitable DAO.</p>
          <p>b) The Affiliate <b>may not create derivative works, modify, or alter</b> Global Charitable DAO’s branding without prior approval.</p>
          <p>c) Unauthorized use of intellectual property may lead to legal action.</p>

          <h2>6. INDEMNIFICATION & LIABILITY</h2>
          <h3>6.1 Affiliate Indemnification</h3>
          <p>
            The Affiliate agrees to <b>indemnify and hold harmless</b> Global Charitable DAO, its founders, officers, and community members from any claims, damages, or legal actions arising due to the Affiliate’s marketing practices, misrepresentations, or regulatory violations.
          </p>
          <h3>6.2 Limitation of Liability</h3>
          <p>GLOBAL CHARITABLE DAO  shall not be liable for:</p>
          <p>a) Any <b>losses, damages, or financial liabilities</b> incurred by the Affiliate.</p>
          <p>b) Delays or interruptions in payments due to <b>blockchain network congestion, hacking incidents, or unforeseen regulatory actions.</b></p>

          <h2>7. TERM & TERMINATION</h2>
          <h3>7.1 Term</h3>
          <p>
            This Agreement is valid from the <b>Effective Date</b> and remains in effect until terminated by either party.
          </p>
          <h3>7.2 Termination Clause</h3>
          <p>a) Either party may terminate this Agreement with <b>[X] days written notice.</b></p>
          <p>b) GLOBAL CHARITABLE DAO  may terminate this Agreement <b>immediately</b> if the Affiliate is found to be in breach of <b>compliance, ethical, or legal standards</b>.</p>
          <p>c) Upon termination, all pending commissions shall be <b>forfeited</b>, and the Affiliate must cease using GLOBAL CHARITABLE DAO ’s branding and marketing materials.</p>

          <h2>8. DISPUTE RESOLUTION</h2>
          <p>a) Any disputes arising under this Agreement shall be resolved through <b>DAO-mediated arbitration</b> as per the Wyoming DAO governance framework.</p>
          <p>b) If arbitration does not lead to a resolution, disputes shall be settled in a <b>Wyoming state court</b>.</p>

          <h2>9. MISCELLANEOUS</h2>
          <h3>9.1 Entire Agreement</h3>
          <p>
            This Agreement constitutes the entire understanding between the parties and supersedes all prior agreements, discussions, and understandings.
          </p>
          <h3>9.2 Modifications & Amendments</h3>
          <p>
            Any modifications to this Agreement <b>must be approved through GLOBAL CHARITABLE DAO  governance voting</b> and communicated in writing.
          </p>
          <h3>9.3 Survival Clause</h3>
          <p>Sections related to <b>liability, indemnification, intellectual property, and dispute resolution</b> shall survive termination.</p>

          <h2>10. SIGNATURES</h2>
          <p>
            By signing below, the parties acknowledge and agree to abide by the terms of this Agreement.
          </p>
          <h3>GLOBAL CHARITABLE DAO </h3>
          <!-- <p>Authorized Representative: <b>[Jeff Mendonça]</b></p> -->
          <!-- <p>Title: <b>Founder</b></p> -->
          <p>Signature: <b>{{timestamp}}</b></p>
          <p>Date: <b>{{date}}</b></p>

        <div>
          <h3>Affiliate</h3>
          <p>Full Name/Company: <b>{{ signUpForm.value.first_name }} {{ signUpForm.value.last_name }}</b></p>
          <p>Physical Address: <b>{{signUpForm.value.full_address}},
              {{signUpForm.value.city}}, {{signUpForm.value.state}}, {{signUpForm.value.country}}, {{signUpForm.value.zip_code}}</b>
            </p>
            <p>Email: <b>{{signUpForm.value.email}}</b></p>
            <p>Crypto Wallet for Payments: <b>{{signUpForm.value.wallet_address}}</b></p>
            <p>Signature: <b>{{timestamp}}</b></p>
            <p>Date: <b>{{date}}</b></p>
            <p>Geo-Location: <b>IP: {{ipAddress}}</b></p>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <button class="wallet connect" (click)="onDisagree(1)" data-bs-dismiss="modal" aria-label="Close">Disagree</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <button class="wallet connect" data-bs-dismiss="modal" aria-label="Close" (click)="onAgree(1)">Agree & Continue</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="campaigner-agreementModal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-labelledby="campaigner-agreementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <img src="assets/images/close.png" alt="close" width="44"/>
        </button> -->
      <div class="modal-body">
        <h1 id="campaigner-agreementModalLabel">SOCIAL MEDIA CAMPAIGNER AGREEMENT</h1>
        <p><b>Effective Date:</b> {{date}}</p>
        <p><b>Parties:</b> </p>
        <p>This <b>Social Media Campaigner Agreement</b> (“Agreement”) is made and entered into by and between:</p>
        <p>
          <b>1. The Global Charitable DAO LLC</b> (“GLOBAL CHARITABLE DAO ” or the “Company”), a decentralized autonomous organization legally domiciled in Wyoming, USA, operating under the Wyoming DAO Supplement and the Nevada Charitable Remainder Trust; and
        </p>
        <p>
          <b>2. {{ signUpForm.value.first_name }} {{ signUpForm.value.last_name }}</b> (“Campaigner”), a social media content creator engaging in promotional activities for GLOBAL CHARITABLE DAO .
        </p>

        <h2>1. PURPOSE</h2>
        <p>
          GLOBAL CHARITABLE DAO  engages the Campaigner to create and distribute social media content that increases awareness, engagement, and community participation. The Campaigner will be compensated based on the number of <b>likes and engagement</b> received on their posts.
        </p>

        <h2>2. SCOPE OF WORK</h2>
        <p>The Campaigner shall:</p>
          <p>a) Create & Share Content – Publish posts, videos, or stories on <b>[social media platforms: Twitter, Instagram, TikTok, YouTube, etc.]</b> promoting GLOBAL CHARITABLE DAO ’s mission, token sale, and community impact.</p>
          <p>b) Use Approved Hashtags & Tags – Include <b>#JILAI #CryptoForGood #BlockchainImpact</b> and tag <b>&#64;JILAIofficial</b> in every post.</p>
          <p>c) Engagement-Based Compensation – Be rewarded based on the <b>number of likes per post</b> as outlined in Section 4.</p>

          <h2>3. CONTENT REQUIREMENTS</h2>
          <p>The Campaigner’s posts must:</p>
          <p>a) Be original, <b>non-deceptive</b>, and comply with <b>SEC, FTC, and social media guidelines</b>.</p>
          <p>b) <b>Avoid making investment promises</b> or discussing potential financial gains from JIL.AI tokens.</p>
          <p>c) Clearly <b>disclose sponsorship</b> (e.g., using “#Sponsored” or “Paid Partnership with GLOBAL CHARITABLE DAO ”).</p>
          <p>d) Not engage in misleading tactics such as <b>fake engagement or paid likes</b>.</p>


          <h2>4. COMPENSATION & PAYMENT TERMS</h2>
          <h3>4.1 Engagement-Based Compensation</h3>
          <p>
            The Campaigner shall be compensated based on the number of likes per post as follows:
          </p>
          <table class="mb-4">
            <thead>
              <tr>
                <th>Likes Per Post</th>
                <th>Compensation per Post</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,000 - 4,999</td>
                <td>250 tokens per 1,000 likes</td>
              </tr>
              <tr>
                <td>5,000 - 9,999</td>
                <td>300 tokens per 1,000 likes</td>
              </tr>
              <tr>
                <td>10,000 - 49,999</td>
                <td>400 tokens per 1,000 likes</td>
              </tr>
              <tr>
                <td>50,000+</td>
                <td>Bonus of an additional 5000 tokens</td>
              </tr>
            </tbody>
          </table>

          <h3>4.2 Payment Method & Frequency</h3>
          <p>a) Payments will be made in <b>JIL.AI tokens</b> (or other agreed payment method).</p>
          <p>b) Compensation will be <b>calculated at the end of the Community</b> Contribution Event based on verified engagement metrics.</p>
          <p>c) Payment will be processed prior to DEX listing and to the Campaigner’s <b>crypto wallet</b>.</p>

          <h3>4.3 Engagement Verification</h3>
          <p>a) GLOBAL CHARITABLE DAO  will verify engagement using <b>platform analytics</b> and third-party tools.</p>
          <p>b) Fake likes (bot-generated or paid engagements) will result in disqualification of earnings.</p>

          <h2>5. CONTENT OWNERSHIP & USAGE RIGHTS</h2>
          <p>a) GLOBAL CHARITABLE DAO  retains a <b>non-exclusive, royalty-free, worldwide license</b> to use the Campaigner’s content for marketing, reposting, and promotional purposes.</p>
          <p>b) The Campaigner may continue using their content but <b>cannot reuse it for other crypto promotions</b> without prior approval.</p>

          <h2>6. COMPLIANCE & RESTRICTIONS</h2>
          <p>The Campaigner <b>must not:</b></p>
          <p>a) Misrepresent GLOBAL CHARITABLE DAO , its governance structure, or tokenomics.</p>
          <p>b) Engage in <b>spam, deceptive practices, or artificial engagement</b>.</p>
          <p>c) Promote GLOBAL CHARITABLE DAO  in <b>restricted jurisdictions</b> or to individuals under <b>legal age</b>.</p>
          <p>d) Use offensive, misleading, or inappropriate content.</p>

          <h2>7. LIABILITY & INDEMNIFICATION</h2>
          <h3>7.1 Indemnification</h3>
          <p>The Campaigner <b>agrees to indemnify and hold harmless</b> GLOBAL CHARITABLE DAO , its members, and affiliates from any claims or damages arising from misleading content, regulatory violations, or unauthorized promotions.</p>
          <h3>7.2 Limitation of Liability</h3>
          <p>GLOBAL CHARITABLE DAO  shall not be liable for:</p>
          <p>a) Social media platform bans, content takedowns, or engagement fluctuations.</p>
          <p>b) Payment delays due to <b>blockchain network congestion or verification disputes</b>.</p>

          <h2>8. TERM & TERMINATION</h2>
          <h3>8.1 Term</h3>
          <p>This Agreement is effective from the <b>Effective Date</b> and remains valid for <b>[24] months</b>, unless terminated earlier.</p>
          <h3>8.2 Termination Clause</h3>
          <p>a) Either party may terminate this Agreement with <b>[7] days written notice</b>.</p>
          <p>b) GLOBAL CHARITABLE DAO  <b>may terminate immediately</b> for policy violations or fraudulent activity.</p>
          <p>c) Upon termination, all pending compensation for unverified engagement will be <b>forfeited</b>.</p>

          <h2>9. DISPUTE RESOLUTION</h2>
          <p>a) Disputes shall first be addressed through <b>DAO mediation</b> under the Wyoming DAO governance framework.</p>
          <p>b) If unresolved, the matter shall be settled in a <b>Wyoming state court</b>.</p>

          <h2>10. MISCELLANEOUS</h2>
          <h3>10.1 Entire Agreement</h3>
          <p>This Agreement represents the <b>entire understanding</b> between the parties.</p>
          <h3>10.2 Amendments</h3>
          <p>Modifications require <b>DAO governance approval</b> and written notice.</p>
          <h3>10.3 Survival Clause</h3>
          <p>Sections related to <b>liability, content ownership, and compliance</b> shall survive termination.</p>

          <h2>11. SIGNATURES</h2>
          <p>By signing below, both parties agree to the terms of this Agreement.</p>
          <h3>GLOBAL CHARITABLE DAO</h3>
          <!-- <p>Authorized Representative: <b>[Jeff Mendonça]</b></p>
          <p>Title: <b>Founder</b></p> -->
          <p>Signature: <b>{{timestamp}}</b></p>
          <p>Date: <b>{{date}}</b></p>

          <div>
            <h3>Campaigner</h3>
            <p>Full Name/Company: <b>{{ signUpForm.value.first_name }} {{ signUpForm.value.last_name }}</b></p>
            <p>Social Media Handle(s): <b>[&#64;handle]</b></p>
              <p>Email: <b>{{signUpForm.value.email}}</b></p>
              <p>Crypto Wallet for Payments: <b>{{signUpForm.value.wallet_address}}</b></p>
              <p>Signature: <b>{{timestamp}}</b></p>
              <p>Date: <b>{{date}}</b></p>
              <p>Geo-Location: <b>IP: {{ipAddress}}</b></p>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <button class="wallet connect" (click)="onDisagree(2)" data-bs-dismiss="modal" aria-label="Close">Disagree</button>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <button class="wallet connect" (click)="onAgree(2)" data-bs-dismiss="modal" aria-label="Close">Agree & Continue</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="kyc-biometric-disclaimerModal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-labelledby="kyc-biometric-disclaimerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <img src="assets/images/close.png" alt="close" width="44"/>
        </button>
      <div class="modal-body">
        <h1 id="kyc-biometric-disclaimerModalLabel">KYC/AML Verification & Biometric Data Disclaimer</h1>
        <p>In accordance with the United States Bank Secrecy Act (BSA), the USA PATRIOT Act, and guidance from the Financial Crimes Enforcement Network (FinCEN), all individuals and entities seeking to participate in any contribution round, token acquisition, or governance activity within the JIL.AI ecosystem (the “Platform”) must comply with rigorous Know Your Customer (KYC) and Anti-Money Laundering (AML) verification procedures.</p>
        <p>As part of this verification process, the Platform, its agents, or compliance partners may collect, store, and analyze personally identifiable information (PII) including, but not limited to:</p>
        <ul>
          <li>Full legal name</li>
          <li>Residential or busine1ss address</li>
          <li>Government-issued identification documentation</li>
          <li>Source of funds declarations</li>
          <li>Sanctions screening information</li>
          <li><b>Biometric identifiers and biometric information</b>, including facial recognition data, voiceprints, fingerprints, and any retina or iris scans (collectively, “Biometric Data”), when necessary for digital identity verification and fraud prevention purposes.</li>
        </ul>
        <p><b>By proceeding with registration, contribution, or token participation, you expressly consent to the collection, processing, storage, and secure retention of your Biometric Data.</b> All Biometric Data is collected in compliance with applicable state and federal privacy statutes, including the Illinois Biometric Information Privacy Act (BIPA), the California Consumer Privacy Act (CCPA), and any other relevant legislation.</p>
        <p>The Biometric Data shall be retained for the duration required to fulfill KYC/AML obligations or as otherwise required by law and shall be securely destroyed in accordance with internal data retention policies upon the expiration of such period, unless longer retention is mandated by regulatory authorities.</p>
        <p>All participants further acknowledge and agree that:</p>
        <ol>
          <li>The information provided during KYC/AML onboarding will be cross-referenced against public and private watchlists, including those maintained by the U.S. Office of Foreign Assets Control (OFAC).</li>
          <li>Failure to complete identity verification, refusal to submit biometric data, or discovery of any material discrepancies may result in the restriction, delay, or permanent suspension of Platform access and forfeiture of any associated rights or token entitlements.</li>
          <li>All data will be encrypted and handled under strict data governance protocols in accordance with industry-standard security practices.</li>
        </ol>
        <p>By continuing to use the Platform, you acknowledge that your biometric and personal identification data may be shared with trusted third-party KYC providers for the exclusive purpose of regulatory compliance, and you waive any claim arising from such lawful processing.</p>
        <p>If you have questions regarding your data rights or wish to request data removal (subject to legal retention requirements), please contact us at <a href="mailto:support@GlobalCharitableDAO.com">support&#64;lobalCharitableDAO.com</a>.</p>
        <button type="submit" [disabled]="!isRegister"  [ngClass]="{ 'not-allowed': !isRegister }" (click)="navigateToKYC()" data-bs-dismiss="modal" aria-label="Close"
          class="wallet connect">Agree & Continue</button>
        <!-- <button #kycButton *ngIf="isRegister" class="signups btn btn-primary connect"
          [disabled]="true">Processing...</button> -->
      </div>
    </div>
  </div>
</div>
